* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
input , textarea{
    border: none;
    font-family: auto;
    border-radius: var(--border-radius);
}
input::placeholder ,textarea::placeholder{
    color: var(--scrollbar-color);
}

textarea {
    resize: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    background-color: transparent;
    font-size: inherit;
    width: 100%;
    }
    
    textarea:focus {
    outline: none;
    }
button{
    border: none;
}

:root {
    --bg-color: #F3F5FC;
    --mainword-color: #333;
    --second-color: #9f9f9f;    
    --scrollbar-color: #adb0bd;
    --card-color:#fcfdff;
    --footer-color:#eeeff6;
    --border-radius: 8px;
    --theme-color:#FFBF37;
}

:root .night {
    --bg-color: #121212;
    --mainword-color: #f2f2f7;
    --second-color: #979797;
    --scrollbar-color: #adb0bd;
    --card-color:#2f3031;
    --footer-color:#0b0b0b;
    --theme-color:#B5F3FF;
}

body {
    background: var(--bg-color);
    transition: background 1s ease-in-out;
    font-size: 16px;
    font-size: 1rem;
}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: none;
    border-radius: 2px;
}
body::-webkit-scrollbar-thumb{
    background: var(--scrollbar-color);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
    background: #9fa2b3;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    border: none;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--mainword-color);
}

a[name]:hover::after {
    content: attr(name);
    width: 56px;
    font-size: 12px;
    font-size: 0.75rem;
    color: var(--bg-color);
    background-color: var(--mainword-color);
    opacity: 0.8;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: -80%;
    left: -50%;
    transform: translate(0, 0);
}

.clear{
    clear: both;
}

.no-scroll {
    position: fixed; /* 或者使用 absolute */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.thetitle {
    position: relative;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
}

#switch {
    width: 28px;
    height: 28px;
    position: absolute;
    right: -24px;
    top: 0;
    border: none;
    cursor: pointer;
    transition: all 1s;
    background: url(../img/sun.svg);
    background-position: center 0px;
    background-size: cover;
}

#switch:hover {
    transform: rotate(-360deg)
}

.zcool {
    width: 32px;
    margin: 12px auto 6px auto;
    text-align: center;
    opacity: 0.6;
    transition: all .6s;
}

.zcool .link {
    background: url(../img/zcool.png);
    background-position: center 0px;
    background-size: cover;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: relative;
    transition: all .6s;
}

.zcool:hover {
    opacity: 1;
    scale: 1.1;
}

#mainpart {
    height: 100%;
}

#mainpart .title {
    text-align: center;
    font-size: 40px;
    font-size: 2.5rem;
    color: var(--mainword-color);
    white-space: nowrap;
}

#mainpart #slogen {
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
    color: var(--second-color);
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    position: relative; /* 为光标设置相对定位 */
    margin-top: 6px;
}

/* 光标效果 */
#slogen::after {    
    content: "|"; /* 使用竖线表示光标 */
    position: relative;
    right: 0;
    animation: blink-caret 0.75s step-end infinite; /* 光标闪烁动画 */
}

/* 光标闪烁动画 */
@keyframes blink-caret {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}


#works , #issue-list{
    width: 72%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.infor{
    padding: 2.2em 0 1.2em 0;
}
.avatar{
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: auto auto 14px auto;
    padding: 4px;
    border-radius: 50%;
    transition: all .4s;
}

.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.avatar:hover{
    transform:translateY(-2px);
    scale: 1.02;
}
.avatar::before{
        content: "";
        width: 110%;
        height: 110%;
        position: absolute;
        border: 4px solid var(--second-color);;
        left: -5%;
        top: -5%;
        box-sizing: border-box;
        border-radius: 50%;
        animation: identifier2 3s linear infinite;
}
.avatar::after{
    content: "";
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    position: absolute;
    border: 1px solid var(--second-color);
    box-sizing: border-box;
    border-radius: 50%;
    animation: identifier 3s linear infinite;
}
@keyframes identifier {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        transform: scale(1.15);
        opacity: 0
    }
}
@keyframes identifier2 {
    0%{
        opacity: 0;
    }   
    50% {
        opacity: 0.2;
    }
    100% {
        transform: scale(1.05);
        opacity: 0;
    }
}

#works li {
    width: 32%;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 6px 0;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

#works li img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: top;
    transition: all 1s;
    transform: scale(0.8);
    opacity: 0;
    display: block;
}

#issue-list{
    color: var(--second-color);
}
.failtoload{
    padding: 20px 0;
}
#issue-list .aissue{
    width: 99%;
    background: var(--card-color);
    border-radius: var(--border-radius);
    padding: 20px 40px;
    margin: 6px 0;
    transition: all 1s;
}
#issue-list .issue-body{
    color: var(--mainword-color);
    line-height: 2;
}
#issue-list .issue-body ul{
    padding-left: 24px;
}
#issue-list .issue-body li{
    list-style-type: '👉';
    color: var(--second-color);
}
.issue-img{
    border-radius:8px;
    width: 20%;
    padding: 4px 0;
}
#issue-list .issue-date{
    color: var(--second-color);
    float: right;
}
.image-overlay {
    position: absolute;
    font-weight: bold;
    font-size: 1.1rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 0;
    border-radius: 8px;
    width: 100%;
    background-image: linear-gradient(180deg, #0000, #00000099);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.6s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#works li:hover .image-overlay {
    opacity: 1;
}

#works li:hover img {
    transform: scale(1.1) !important;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.loadmorepic {
    text-align: center;
    margin: 10px 0 20px 0;
    opacity: 0.8;
    transition: all .6s;
}

.loadmorepic:hover{
    opacity: 1;
}

.loadmorepic:hover #more ,
.loadmorepic:hover #more2 {
    color: var(--mainword-color);
}

#more , #more2{
    text-align: center;
    color: var(--second-color);
    margin: 20px 0;
    cursor: pointer;
    transition: all 1s;
}

.and {
    color: #c9c9c9;
}

#loadpic , #loadpic2 {
    color: var(--mainword-color);
}


#allpic , #allpic2 {
    color: #c9c9c9;
}
footer{
    background: var(--footer-color);
}

.footer-box {
    text-align: center;
    width: 72%;
    margin: 0 auto;
    padding: 16px 0;
    font-size: 0.875rem;
    font-size: 14px;
}
.linktitle{
    font-size: 1.2em;
    color: var(--second-color);
    text-align: left;
}

.links{
    font-size: 0.875rem;
    font-size: 14px;
    padding: 10px;
}

.links .alink {
    display: block;
    background-color: var(--card-color);
    padding: 16px;
    margin: 12px;
    border-radius: var(--border-radius);
    transition: all .6s;
    width: 15%;
} 
.unlink{
    pointer-events:none;
    color:#939393;
    text-decoration-line: line-through;
    opacity: 0.6;
}

.links .alink:hover{
    background-color: var(--theme-color);
}
.links .alink:hover .blog-title , .links .alink:hover .blog-name {
    color: var(--bg-color);
}
.alllink{
    margin: 0 -1%;
    display: flex;
    justify-content: space-evenly;
}

.links .alink .linkbox{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.links .alink .linkbox .description{
    text-align: left;
    padding-left: 12px;
    word-break: break-all;
} 

.links .alink .linkpic{
    width: 3rem;
    border-radius: var(--border-radius);
}

.links .alink .blog-name{
    font-size: 1em;
    font-weight: bold;
    transition: all .6s;
}

.links .alink .blog-title{
    padding-top: 2px;
    color: var(--second-color);
    transition: all .6s;
}

.copyright{
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.copyright .information{
    padding: 4px 0;
    color: var(--second-color);
}
.copyright a{
    transition: all .6s;
    color: var(--second-color);
}

.copyright a:hover {
    color: var(--theme-color);
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 4;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: zoom-in;
}

.modal-content {
    margin: auto;
    display: block;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big {
    transform: translate(-50%, -50%) scale(1.2);
    top: 50%;
    left: 50%;
    padding: 0;
}

#img01 {
    opacity: 0;
    transition: all 1s;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: fixed;
    top: 0;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    transition: 1s;
    z-index: 2;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.issue-img{
    display: block;
}
.tabs {
    display: flex;
    justify-content: center;
}
.tab , .formbutton{
    padding: 10px 28px;
    cursor: pointer;
    border-radius: 5px;
    margin: 12px;
    color: var(--mainword-color);
    opacity: 0.5;
    transition: all 1s;
    background: var(--card-color);
}
.tab:hover{
    color: var(--mainword-color);
    opacity: 1;
}
.tab.active {
    transition: none;
    color: var(--theme-color);
    font-weight: 600;
    opacity: 1;
}
.tab-content {
    display: none;
    border-radius: 5px;
}
.tab-content.active {
    display: block;
}
#image-list img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#comment-list li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.comment-author {
    font-weight: bold;
    color: #007BFF;
}
.comment-body {
    margin-top: 5px;
    color: #666;
}
.comment-date {
    font-size: 0.8em;
    color: #999;
}
/* #message-content{
    background: var(--card-color);
} */
.form-title{
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    margin: 8px 0;
    color: var(--mainword-color);
}
#message-list{
    width: 72%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#my-form{
    width: 99%;
    background: var(--card-color);
    border-radius: var(--border-radius);
    padding: 0 4%;
    margin: 6px 0 20px 0;
    transition: all 1s;
    text-align: center;
}
.e-name , .e-content{
    text-align: left;
    margin: 36px 0 0 0;
}
#my-form input , textarea{
    background-color: var(--bg-color);
    font-size: 16px;
    width: 100%;
    padding: 20px;
}
#my-form textarea{
    border: none;
    height: 160px;
}
#my-form-button{
    background: var(--footer-color);
    margin: 16px 0 36px 0;
    opacity: 1;
}
#my-form-button:hover{
    background: var(--theme-color);
    color: white;
}
.wordnums{
    position: relative;
}
#remainingChars{
    color: var(--second-color);
}

.e-content {
    position: relative; 
}
.textarea-container {
    position: relative; 
}
.wordnums {
    position: absolute; /* 绝对定位 */
    bottom: 10px; /* 距离底部 10px */
    right: 10px; /* 距离右侧 10px */
    user-select: none; /* 禁止选中文字 */
    color: var(--mainword-color);
}

@media screen and (max-width: 1024px) {

    #works,
    #works li{
        width: 97%;
    }
    #issue-list,
    #issue-list li {
        width: 96%;
    }
    #message-list{
        width: 96%;
    }

    #mainpart .title {
        font-size: 24px;
        font-size: 1.75rem;
    }
    .modal-content {
        width: 100%;
        height: auto;
        padding: 6%;
    }
    .issue-img {
        width: 100%;
        display: block;
    }
    .footer-box{
        width: 97%;
    }
    .linktitle{
        margin-bottom: 12px;
    }
    .links .alink{
        margin: 0;
        padding: 16px 0;
    }
    .links .alink .linkpic {
        width: 2rem;
    }
    .links .alink .linkbox {
        display: block;
    }
    .links .alink .linkbox .description{
        display: none;
    }
    .copyright {
        width: 97%;
        display: block;
    }
}