*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000;
}
footer {
    text-align:center;
    width: 100%;
    padding-bottom: 32px;
    color:#858585;
}
.links a{
    transition:all .2s;
    padding: 0 4px;
}
.links a:hover{
    color: #ED7839;
}